dist: xenial
language: python
cache: pip

# Supported CPython versions:
# https://en.wikipedia.org/wiki/CPython#Version_history
python:
 - "3.6"
 - "3.7"
 - "3.8"
 - "3.9-dev"

install:
 - pip install -U pip
 - pip install -U black flake8

script:
 # Static analysis
 - flake8 --statistics --count
 - black --check --diff .

matrix:
  fast_finish: true
